@use './reset' as *;
@use './variables' as *;
@use './mixins' as *;

.title {
  text-align: center;
  margin-block: 4rem;
  font-size: 4rem;
}

.card {
  max-width: 30rem;
  width: 100%;
  border: $border;
  height: 20rem;
  border-radius: 3rem;
  transition: 0.5s ease;

  &:hover {
    transform: translateY(-10px);
  }
  .card-title {
    font-size: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
