//========== カラー ==========

$mainColor: #00ffcc;
$subColor: #222222;
$mainBgColor: #222222;
$subBgColor: #ffffff;

//========== 線 ==========
$mainBorder: solid 0.2rem $mainColor;

//========== 画面幅 ==========
$pcWidth: 192rem;
$tabWidth: 80rem;
