@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  @include defaultSetting;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $subBgColor;
  color: $subColor;

  input,
  textarea,
  select,
  button {
    font: inherit; /* body の font-family, font-size, line-height を全部引き継ぐ */
  }
}
