@use "./reset.scss";
@use "./variables" as *;

body {
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", "Hiragino Sans", "Yu Gothic", Meiryo, Arial,
    sans-serif;
  background-color: $mainBgColor;
  color: $mainColor;
  margin-inline: 3rem;
}
